* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 22px 30px 16px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.nav--logo {
    width: 82px;
}

.hero {
    margin: 26px 0 49px;
}

.hero > img {
    width: 395px;
    display: block;
    margin: 0 auto 32px;
}

.hero--heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    margin: 0 36px 16px;
}

.hero--text {
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    color: #222222;
    margin: 0 36px;
    max-width: 320px;
}

.exp-card {
    padding-left: 18px;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    color: #222222;
    position: relative;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 18px;
}

.exp-card--badge {
    position: absolute;
    top: 6px;
    left: 24px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: 400;
}

.exp-card__rating-reviews-loc {
    margin-top: 8px;
}

.exp-card > p {
    margin: 8px 0 0;
}

.exp-card--photo {
    height: 235px;
    border-radius: 9px;
}

.rating-star {
    width: 14px;
    margin-right: 2px;
}

.exp-card__reviews-loc {
    color: #918E9B;
}

.exp-card__price {
    font-weight: 600;
}