* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 0;
  margin: 0 8.5rem;
  max-width: 1320px;
}

.nav--brand{
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 800;
}

.nav--main-nav {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav--link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 800;
  letter-spacing: 0.0625em;
  padding: 1.5rem 1rem;
}

header {
  background: url('/public/images/header-bg.jpg') rgb(108, 117, 125) no-repeat center center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(54, 56, 57, 0.5);
  padding: 12.5rem 0;
  margin-bottom: 3rem;
}

.header--title {
  color: white;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-align: center;
}

.header--subtitle {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  text-align: center;
}

main {
  max-width: 1140px;
  padding: 0 3rem;
  margin: 0 auto;
}

.blog-list {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.blog-post {
  grid-column: 2 / 3;
  margin: 0 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #dee2e6;
}

.blog-post a {
  text-decoration: none;
  color: #212529;
}

.blog-post > a:hover {
  color: #0085A1;
}

.blog-post--title {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.2;
  margin: 1.875rem 0 0.625rem;
}

.blog-post--subtitle {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.625rem;
}

.blog-post--meta {
  font-family: 'Lora', serif;
  font-size: 1.125rem;
  font-style: italic;
  color: #6c757d;
  line-height: 1.5;
}

.blog-post--meta-author {
  font-family: 'Lora', serif;
  font-size: 1.125rem;
  color: #212529;
  line-height: 1.5;
}

.blog-post--meta-author:hover {
  color: #0085A1;
}

.button--older-posts {
  grid-column: 2 / 3;
}